@page "/todo"
@using BlazorWasmClean.Application.TodoLists.Queries.GetTodos
@inject StateContainer StateContainer

<h3>Todo (@todos.Count(todo => !todo.Done))</h3>

<b>@StateContainer.Property</b>

<ul>
	@foreach (var todo in todos)
	{
		<li>
			<input type="checkbox" @bind="todo.Done" />
			<input @bind="todo.Title" />
		</li>
	}
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo" class="btn btn-primary">Add todo</button>

@code {
	private IList<TodoItemDto> todos = new List<TodoItemDto>();
	private string newTodo;

	private void AddTodo()
	{
		if (!string.IsNullOrWhiteSpace(newTodo))
		{
			todos.Add(new TodoItemDto { Title = newTodo });
			newTodo = string.Empty;
		}
	}
}
